td{
	border: 1px solid;
	width: 40px;
	height: 40px;
}

#divLogout{
	text-align: right;
	padding: 5px 5px 5px 5px;	
}

table{
	border-collapse: collapse;
	margin: 50px;
}

.black{
	background-color: black;
}

.white{
	background-color: white;
}

body{
}